# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    
    env:
      platform: aws
      region: us-east-1
      account: 34221212

    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: "paso1: mostrar mensaje"
        run: 
          echo "Mensaje 1"
      - name: "paso2: mostrar mensaje2"
        run: 
          echo "Mensaje 2"
      - name: "paso3: mostrar variables de entorno"
        run: |
          echo "plataforma: ${{env.platform}}"
          echo "region: ${{env.region}}"
          echo "account: ${{env.account}}"

      
